<!DOCTYPE html>
<html>
	<head>
		<link rel='stylesheet' href='static/style.css'>
		<title>Dream Catcher</title>
	</head>


	<header>
		<table>
			<tr>
				<td>
					<h1>The DreamCatcher</h1>
				</td>
			</tr>
		</table>
	</header>


	<body>
		<div class="navbar">
			<a href="#home">Home</a>
			<a href="#viewDreams">View Dreams</a>
		</div>


		<nav>
			<a href="/login">Login</a>
		</nav>

		<button onclick="newDream()">New Dream</button>


		<h2>Mission Statement</h2>
		<p> 
			Throughout the night, our minds take us to many different places. Some of these places are fantastic, some are terrifying. No matter the event, we believe there is value in writing it down and exploring its potential meaning. With this app, we are determined to make writing down, remembering, and analyzing your drams the easiest it has ever been!
			<br> <br>
			To use this app, simply select the "New Dream" button and begin typing. Your progress will be saved as you type. While the date and time of your new dream entry will be automatically set to the current date and time, feel free to edit it or switch that feature off. 

		</p>
	</body>
</html>
